<section class="py-20 bg-[#0a0a0a]">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <app-title-main>
        <span class="text-sm font-medium text-neutral-300">فريقنا</span>
      </app-title-main>
      <app-section-title>
        <h2 class="text-3xl md:text-4xl font-bold text-white mb-4">تعرف على كتابنا</h2>
      </app-section-title>

      <p class="text-lg text-neutral-400 max-w-2xl mx-auto">
        فريقنا من المصورين والكتاب ذوي الخبرة شغوفون بمشاركة معرفتهم مع المجتمع.
      </p>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
      @for (post of Posts; track $index) {
        <app-card-author [authors]="post.author"></app-card-author>
      }
    </div>
  </div>
</section>
